*:not(pre) > code {
  white-space: nowrap;
}

.content > p:first-of-type > em {
  margin-top: -25px;
  display: block;
  margin-bottom: 2rem;
}


a.sidebar-link[href*="itemmodel"],
a.sidebar-link[href*="listmodel"] {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.85em;
}

