{% extends 'shortlist/_layout' %}

{% block content %}


    <h3>Shortlist</h3>
    <h4>User lists for Craft</h4>


    <p>These are the Shortlist example templates.</p>
    <p>Just getting started? <a href="{{ url('shortlist/basic') }}">Check out the basic usage setup to get started!</a></p>

    <p>Also, be sure to check out the <a href="http://squarebit.co.uk/software/craft/shortlist/docs/quickstart">Quickstart Guide</a>.</p>

    <p><a href="{{ url('shortlist/basic') }}" class="btn btn-primary">Basic Lists Setup &rarr;</a></p>

    <hr/>
    <p>Additional Resources:
    <ul>
        <li><a href="http://squarebit.co.uk/software/craft/shortlist">Shortlist Documentation</a>.</li>
        <li><a href="https://buildwithcraft.com/docs/introduction">Craft CMS Documentation</a>.</li>
        <li><a href="http://craftcms.stackexchange.com">Craft CMS Stack Exchange</a>. Use the <code>shortlist-plugin</code>
            tag.
        </li>
        <li><a href="mailto:support@squarebit.co.uk">Email SquareBit Support</a> if you run into issues</li>
    </ul>

{% endblock %}
