{% extends "shortlist/_layouts/settings" %}


{% block content %}

    {% if isPro %}
    <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
        <input type="hidden" name="action" value="shortlist/list/saveLayout">
        <input type="hidden" name="redirect" value="shortlist/settings">

        <div id="template-fieldLayout">
            {% include "_includes/fieldlayoutdesigner" with {
            fieldLayout: list.getFieldLayout(),
            customizableTabs: false
            } only %}
        </div>

        <hr>

        <div class="buttons">
            <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
        </div>
    </form>
    {% else %}
        <h1>List Fields</h1>
        {% include 'shortlist/_includes/upgradePrompt' %}
    {% endif %}
{% endblock %}
