{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
</head>

<body>

	<div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ siteUrl }}">{{ siteName }}</a>

        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/shortlist">Shortlist</a></li>

            {% if not currentUser %}
            <li><a href="{{ loginUrl }}">Login</a></li>
            {% endif %}
            {% if currentUser %}
            <li><a href="{{ logoutUrl }}">Logout</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      {% block content %}


      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Craft Base Build</h1>
        <p>
          <a class="btn btn-lg btn-primary" href="/shortlist" role="button">Shortlist for Craft &rarr;</a>
        </p>
      </div>

      {% endblock %}

    </div>
    <!-- /container -->
{#
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery-1.11.0.min.js"><\/script>')</script>

#}
</body>
</html>
